<?xml version ="1.0" enconding="UTF-8"?>
	<configuration>
		<system.webServer>
			<handlers>
				<add name="httpplatformhandler" path="\*" verb="\*" modules="httpPlatformHandler" resourceType="Unspecified" />
			</handlers>
			<httpPlatform processPath="d:\home\site\wwwroot\go\bin\go.exe" arguments="run d:\home\site\wwwroot\Server.go" starupTimeLimit="60">
				<environmentVariables>
					<environmentVariable name = "GOROOT" value="d;\home\site\wwwroot\go" />
				</environmentVariables>
			</httpPlatform>
		</system.webServer>
	</configuration>
